<ng-container>
  <div class="top-menu-panel">
    <dx-scroll-view width="100%" height="60px">
      <dx-button
        class="btn-dx-top-menu"
        icon="plus"
        stylingMode="text"
        type="default"
        [disabled]="!event.sessionData.isActive || isClosed()"
        (onClick)="addNewRecord()"
        text="{{ 'buttons.add' | translate }}"
        [id]="'btn-add'"
      >
      </dx-button>

      <dx-button
        class="btn-dx-top-menu"
        icon="edit"
        stylingMode="text"
        type="default"
        [disabled]="
          !event.sessionData.isActive || !focusedElement() || isClosed()
        "
        (onClick)="onEdit()"
        text="{{ 'buttons.edit' | translate }}"
        [id]="'btn-edit'"
      >
      </dx-button>

      <dx-button
        class="btn-dx-top-menu"
        icon="dx-icon dx-icon-eyeopen"
        stylingMode="text"
        type="default"
        [disabled]="!focusedElement()"
        (onClick)="onShow()"
        text="{{ 'buttons.preview' | translate }}"
        [id]="'btn-eyeopen'"
      >
      </dx-button>

      <dx-button
        class="btn-dx-top-menu"
        icon="dx-icon dx-icon-trash"
        stylingMode="text"
        type="default"
        [disabled]="
          !event.sessionData.isActive || !focusedElement() || isClosed()
        "
        (onClick)="onDeleteConfirm()"
        text="{{ 'buttons.delete' | translate }}"
        [id]="'btn-delete'"
      >
      </dx-button>

      <app-date-range
        (dateRangeChange)="onDateRangeChange($event)"
      ></app-date-range>
    </dx-scroll-view>
  </div>

  <div class="center-panel-scroll-verticall">
    <dx-scroll-view width="100%" height="calc(100% - 60px)">
      <dx-data-grid
        [dataSource]="dataSource"
        [wordWrapEnabled]="false"
        [showBorders]="true"
        [height]="heightGrid"
        class=""
        [columnResizingMode]="'widget'"
        [columnAutoWidth]="false"
        [allowColumnResizing]="true"
        [autoNavigateToFocusedRow]="true"
        [(focusedRowIndex)]="focusedRowIndex"
        [allowColumnReordering]="true"
        [focusedRowEnabled]="true"
        (onFocusedRowChanged)="onFocusedRowChanged($event)"
        (onRowDblClick)="onRowDblClick($event)"
        [allowColumnResizing]="event.deviceType !== 'mobile'"
        #dxGrid
      >
        <dxo-load-panel [enabled]="false"></dxo-load-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="pageSize"></dxo-paging>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column
          caption="{{ 'zus.periodFrom' | translate }}"
          dataField="month"
          cellTemplate="PeriodFrom"
          [width]="110"
        ></dxi-column>
        <div *dxTemplate="let cell of 'PeriodFrom'">
          {{ cell.data.year }}-{{ cell.data.month.toString().padStart(2, '0') }}-01
        </div>

        <dxi-column
          caption="{{ 'zus.periodTo' | translate }}"
          cellTemplate="PeriodTo"
          dataField="year"
          [width]="110"
        ></dxi-column>
        <div *dxTemplate="let cell of 'PeriodTo'">
          {{ cell.data.year }}-{{ cell.data.month.toString().padStart(2, '0') }}-{{
            getLastDayOfMonth(cell.data.year, cell.data.month)
          }}
        </div>

        <dxi-column
          caption="{{ 'zus.healthInsurance' | translate }}"
          cellTemplate="TotalNetAmountCurrency"
          dataField="contributionHealth"
          [width]="250"
        ></dxi-column>
        <dxi-column
          caption="{{ 'zus.socialInsurance' | translate }}"
          cellTemplate="TotalNetAmountCurrency"
          dataField="social"
          [width]="250"
        ></dxi-column>
        <dxi-column
          caption="{{ 'zus.laborFund' | translate }}"
          cellTemplate="TotalNetAmountCurrency"
          dataField="fpfgsw"
          [width]="250"
        ></dxi-column>
        <dxi-column
          caption="{{ 'zus.totalZus' | translate }}"
          cellTemplate="TotalZus"
          dataField="isContributionHolidays"
        ></dxi-column>

        <div *dxTemplate="let cell of 'TotalZus'">
          {{
            Number(cell.data.contributionHealth || 0) +
              Number(cell.data.social || 0) +
              Number(cell.data.fpfgsw || 0) | priceFormat
          }}
        </div>

        <div *dxTemplate="let cell of 'TotalNetAmountCurrency'">
          {{ cell.value | priceFormat }}
        </div>
      </dx-data-grid>
    </dx-scroll-view>
  </div>
</ng-container>

@if (isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="isDelete.set(false)"
></app-confirm-dialog>
}

<qumi-keyboard-shortcuts
  [shortcuts]="shortcuts"
  [disabled]="isAdd()"
></qumi-keyboard-shortcuts>

@if(isAdd()) {
<app-add-zus
  [mode]="mode"
  [isVisible]="isAdd()"
  (onClosing)="onClosing()"
  (onSaving)="onSaving($event)"
  [zus]="focusedElement()"
></app-add-zus>
}
