@import "./colors";
@import "./variables.scss";

@font-face {
  font-family: "Lumen";
  src: url("../fonts/Lumen-Linear-Icon-Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: normal normal normal 22px Lumen;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.absui-icon--export-database-user::before {
  content: "\ebe2";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--big-data-compute:before {
  content: "\ebe4";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--checkbox-deselect {
  content: "\ebec";
  font-size: 20px;
  line-height: 20px;
}

.absui-icon--drag-mini:before {
  content: "\eb54";
  font-size: 20px;
  line-height: 20px;
}

.absui-icon--file-ist:before {
  content: "\ebcb";
  font-size: 21px;
  line-height: 14px;
}

.absui-backe:before {
  content: "\eaab";
  font-weight: normal;
  font-size: 20px;
  line-height: 14px;
  color: $neutral-30;
}

.absui-icon--notifications::before {
  content: "\e7f4";
  font-size: 18px !important;
  cursor: pointer;
}

.absui-icon--operationsBtn:before {
  content: "\e5d4";
  position: relative;
}

.absui-icon--file-edit::before {
  content: "\e9ba";
  font-size: 1rem !important;
  color: $neutral-30;
  cursor: pointer;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.checkAll::before {
  content: "\e9a3";
  font-size: 1rem !important;
  color: $neutral-30;
  cursor: pointer;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--table-cells-column::before {
  content: "\eae0";
  font-size: 18px !important;
}

.absui-icon--shield::before {
  content: "\e9f2";
  font-size: 1rem !important;
  color: $neutral-30;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.absui-icon--fullscreen2::before {
  content: "\eb28";
  font-size: 18px;
  color: $neutral-30;
  cursor: pointer;
}

.absui-icon--control-tree::before {
  content: "\eae7";
  font-size: 18px;
}

.absui-icon--history-clock::before {
  content: "\e910";
  font-size: 18px;
}

.absui-icon--fullscreen-off::before {
  content: "\eb33";
  font-size: 18px;
  color: $neutral-30;
  cursor: pointer;
}

.absui-icon--form-arrange-tabs::before {
  content: "\eb3d";
  font-size: 18px;
  cursor: pointer;
  position: relative;
  left: -10px;
}
.absui-icon--accordion-arrange-vertical::before {
  content: "\eb35";
  font-size: 18px;
  cursor: pointer;
  position: relative;
  left: -10px;
}

.icon-pin::before {
  content: "\e9ea";
}
.icon-pin:hover {
  color: $brand-10;
}

.icon-eye:before {
  content: "\e8f4";
}

.absui-icon--dashboard-widthlimited::before {
  content: "\ea71";
  font-size: 18px;
  color: $neutral-30;
  cursor: pointer;
}

.icon-absui-icon--location:before {
  content: "\eaa8";
  font-size: 24px;
  margin-right: 18px;
}

.icon-absui-icon--attach-file {
  &.grid-attachment:before {
    color: $theme-positive-10;
  }
  &:before {
    content: "\e226";
    font-size: 18px !important;
    margin-right: 18px;
  }
}

.absui-icon--shopping-bag:before {
  content: "\eaca";
  color: $neutral-20;
  font-size: 24px;
  margin-right: 18px;
}

.absui-icon--location-circle:before {
  content: "\eabe";
  font-size: 16px;
}

.aabsui-icon--application:before {
  content: "\e917";
  font-size: 21px;
}

.dx-icon-absui-icon--come-out:before {
  content: "\e953";
  font-family: Lumen;
  font-size: 21px;
  font-style: normal;
  top: -1px;
  position: relative;
}

.absui-icon--help-outline:before {
  content: "\e8fd";
  color: $neutral-20;
  font-size: 24px;
  margin-right: 18px;
}

.icon-update:before {
  content: "\e923";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.absui-icon--variables:before {
  content: "\eaa3";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.absui-icon--double-left:before {
  content: "\e9b5";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.absui-icon--double-right:before {
  content: "\e9b6";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.icon-certyfikate:before {
  content: "\ea4b";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
}

.icon-pencile:before {
  content: "\e932";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.icon-refresh:before {
  content: "\e5d5";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
}

.icon-row:before {
  color: $neutral-70;
}
.icon-border-row {
  width: 40px;
  height: 40px;
  background: $neutral-100;
  border: 1px solid rgba(218, 222, 225, 0.5);
  box-sizing: border-box;
  border-radius: 35px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
}

.icon-accordion {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid $neutral-30;
  // border-color: $neutral-30;
  cursor: pointer;
  background-color: transparent;
  &.selected {
    border-color: $brand-10;
    background-color: $brand-10;
  }
}

.icon-border-order {
  width: 30px;
  height: 30px;
  background: $neutral-100;
  border: 1px solid rgba(218, 222, 225, 0.5);
  box-sizing: border-box;
  border-radius: 35px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0px;
  cursor: pointer;
  display: inline-block;
  margin-left: 12px;
}

.absui-icon--files::before {
  content: $absui-icon--files;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--arrow-downward:before {
  content: "\e5db";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $brand-10;
  margin-left: -3px;
}

.icon-border-row:hover {
  background: $brand-10;
  .icon:before {
    color: $neutral-100 !important;
  }
}

.box-shadow {
  box-shadow: 0px 8px 25px rgba(67, 63, 75, 0.08);
}

.icon-calendar:before,
.dx-icon-calendar {
  content: "\e91e";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

a.active .absui-icon--expand-less:before {
  color: $brand-30;
}

.icon--keyboard-arrow-left:before {
  content: "\e317";
  font-weight: normal;
  font-size: 21px;
  line-height: 7px;
}

.icon--remove-selected::before {
  content: "\eaa3";
  font-size: 21px;
  line-height: 14px;
}

.icon--keyboard-arrow-right:before {
  content: "\e318";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $brand-10;
}

.absui-icon--news-small {
  &::before {
    content: "\eaf7";
    font-style: normal;
    font-size: 21px;
  }
}

.icon-search:hover::before {
  background-color: $neutral-80;
}
.icon-search:before {
  content: "\e8b6";
  font-style: normal;
  font-size: 18px;
}

.absui-icon--angle-double-left::before {
  content: "\f100";
  font-style: normal;
  font-size: 18px;
}

.absui-icon--document-search::before {
  content: "\eab5";
  font-style: normal;
  font-size: 18px;
}

.absui-icon--angle-double-right::before {
  content: "\f101";
  font-style: normal;
  font-size: 18px;
}

.circle-add-correct::before {
  content: "\e147";
  font-style: normal;
  font-size: 1.125rem !important;
  -webkit-text-stroke-width: 0.012em !important;
  -webkit-font-smoothing: antialiased !important;
}

.absui-icon--expand-less:before {
  content: "\e316";
  font-size: 20px;
  line-height: 7px;
  color: $neutral-30;
}

.absui-icon--status-cancel {
  top: 4px;
  position: relative;
  &:before {
    content: "\ebb6";
    // font: Lumen;
    font-size: 21px;
    line-height: 7px;
    color: $brand-10;
  }
}

.btn-dx-top-menu .dx-icon.btn-icon {
  margin-top: -3px !important;
  margin-left: -1px;
}

.absui-icon--arrow-forward:before {
  content: "\e5c8";
  font-size: 21px;
  line-height: 14px;
}
.icon-border {
  width: 40px;
  height: 40px;
  background: $neutral-100;
  border: 1px solid rgba(218, 222, 225, 0.5);
  box-sizing: border-box;
  border-radius: 35px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
}

.icon-header {
  .fa:before {
    color: $brand-10;
  }
  .icon:before {
    color: $brand-10;
  }
}
.icon-header.dx-state-disabled {
  background-color: $neutral-70 !important;
  opacity: 1 !important;
  color: $neutral-100 !important;
  .icon:before {
    color: $neutral-100;
  }
  .fa:before {
    color: $neutral-100;
  }
}

.dx-state-disabled {
  cursor: pointer;
  box-sizing: border-box;
}

.icon-plus:before {
  content: "\eab6";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-30;
}

.icon-eye-slash:before {
  content: "\e8f5";
}

.keyboard-arrow-left:before {
  content: "\e317";
  font-size: 21px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  list-style: normal;
  color: $neutral-10;
  width: 30px;
  height: 30px;
  background: $neutral-100;
  border: 1px solid rgba(218, 222, 225, 0.5);
  box-sizing: border-box;
  border-radius: 35px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.absui-icon--delete:before {
  content: "\e872";
  font-size: 21px;
  line-height: 14px;
}

.shopping-cart:before {
  content: "\e8cc";
  color: $neutral-10 !important;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 21px;
  line-height: 17px;

  position: relative;
  color: $neutral-100;
}

.absui-icon--is-greate:before {
  content: "\e318";
  font-size: 21px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  list-style: normal;
  color: $neutral-10;
  width: 30px;
  height: 30px;
  background: $neutral-100;
  border: 1px solid rgba(218, 222, 225, 0.5);
  box-sizing: border-box;
  border-radius: 35px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  &:hover {
    color: $brand-10 !important;
  }
}

.absui-icon--list-view:before {
  content: "\eaaa";
  font-size: 21px;
}

.absui-icon--file-money:before {
  content: "\ea9f";
  font-size: 21px;
}

.absui-icon--select-none:before {
  content: "\eaa5";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--expand-more:before {
  content: "\e313";
  color: $neutral-30;
  cursor: pointer;
  font-size: 20px;
  line-height: 14px;
}

.icon-history:before {
  content: "\eaa1";
  font-size: 21px;
  line-height: 14px;
  cursor: pointer;
}

.icon-filter-config:before {
  content: "\e990";
  font-size: 21px;
  line-height: 14px;
  cursor: pointer;
  font-weight: normal;
}

.icon-sign-out:before {
  content: "\e8ac";
  font-size: 18px;
  line-height: 14px;
}

.absui-icon--phone:before {
  content: $absui-icon--phone;
  font-size: 16px;
}

.icon-download:before {
  content: "\e884";
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.icon-upload:before {
  content: "\e2c6";
}

.icon-info:before {
  content: "\e88f";
}

.icon-lock:before {
  content: "\e96c";
  cursor: pointer;
  position: relative;
  top: -4px;
  font-size: 21px;
}

.absui-icon--import-contacts:before {
  content: "\e0e0";
  font-size: 21px;
  line-height: 14px;
}

.icon-unlock:before {
  content: "\e97b";
  position: relative;
  top: -4px;
  cursor: pointer;
  font-size: 21px;
}

.icon-plus-square-o:before {
  content: "\e145";
  border: solid 1px;
  font-size: 21px;
  line-height: 14px;
}

.icon-user-add:before {
  content: "\e9e1";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--doc-out:before {
  content: "\e9b3";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--playlist-check:before {
  content: "\e980";
  font-size: 21px;
  line-height: 14px;
}

.icon-user-remove:before {
  content: "\e9e6";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--status-cancel-circle::before {
  content: "\eafe";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--add-circlee::before {
  content: "\e147";
  font-size: 1.125rem !important;
  line-height: 14px;
  margin-top: -3px;
}

.absui-icon--id-person-globe::before {
  content: "\ebfb";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--line-person-add::before {
  content: "\ea52";
  font-size: 21px;
  line-height: 14px;
}

.icon--settings:before {
  content: "\e8b8";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--factory:before {
  content: "\e96a";
  font-size: 21px;
  line-height: 14px;
}

.fa-clone {
  font-size: 21px;
  line-height: 14px;
}

.icon-line-out-mail:before {
  content: "\ea80";
  font-size: 21px;
  line-height: 14px;
}

.icon-details:before {
  content: "\e98e";
  font-size: 21px;
  line-height: 14px;
}

.icon-save:before {
  content: "\e161";
  font-size: 21px;
  line-height: 14px;
}

/* zamowienia */
.absui-icon--person-out:before {
  content: $absui-icon--person-out;
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-20;
}

.absui-icon--partly-check-circle:before {
  content: "\eaa0";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-20;
}

.absui-icon--error-money-outline:before {
  content: "\eaab";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $brand-10;
}

.absui-icon--more-horiz:before {
  content: "\e5d3";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $brand-10;
}

.icon--keyboard-arrow-right-mobile:before {
  content: "\e318";
  font-weight: normal;
  font-size: 21px;
  line-height: 14px;
  color: $neutral-10;
}

.absui-icon--expand-more-mobile:before {
  content: "\e313";
  color: $brand-10;
  cursor: pointer;
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--menu:before {
  content: "\ea87";
  color: $neutral-30;
  font-size: 21px;
}

.absui-icon--home-3:before {
  content: "\eabc";
  font-size: 21px;
}

.absui-icon--system:before {
  content: "\e931";
  font-size: 21px;
}

.absui-icon--settings-user:before {
  content: "\eac8";
  font-size: 21px;
}

.absui-icon--application-group:before {
  content: "\ea2e";
  font-size: 21px;
}

.absui-icon--business:before {
  content: "\e7ee";
  font-size: 21px;
}

.absui-icon--account-circle::before {
  content: "\ea9e";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--arrow-drop-right::before {
  content: "\ea1d";
  font-size: 20px;
  line-height: 20px;

  color: $neutral-20;
}

.absui-icon--arrow-drop-down::before {
  content: "\e5c5";
  font-size: 20px;
  line-height: 20px;
  color: $neutral-10;
  position: relative;
  top: -4px;
  left: -13px;
}
.absui-icon--arrow-drop-down::before {
  content: "\e5c5";
  font-size: 20px;
  line-height: 20px;
  color: $neutral-10;
  position: relative;
  top: -4px;
  left: 13px;
}

.absui-icon--arrow-drop-up::before {
  content: "\e5c7";
  font-size: 20px;
  line-height: 20px;
  color: $neutral-10;
  position: relative;
  top: -4px;
  left: 13px;
}

.absui-icon--arrow-drop-left::before {
  content: "\ea1e";
  font-size: 20px;
  line-height: 20px;
  color: $neutral-10;
}

.absui-icon--normal-apps::before {
  content: "\ecb3";
  font-size: 21px;
  line-height: 21px;
  color: $teal900;
}

.absui-icon--arrow-drop-right-user-panel::before {
  content: "\ea1d";
  font-size: 18px;
  line-height: 18px;
  position: relative;
  top: 0px;
  left: 15px;
}

.absui-icon--public::before {
  content: "\e80b";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--lock-full::before {
  content: "\e96c";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--arrow-back::before {
  content: "\e5c4";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--arrow-forward::before {
  content: "\e5c8";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--drag-vertical::before {
  content: "\eaa2";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--info::before {
  content: "\e88e";
  font-size: 18px;
  line-height: 18px;
}

.dx-icon.absui-icon--help::before {
  font-size: 21px;
  line-height: 21px;
}

.absui-icon--help::before {
  content: "\e887";
  font-size: 21px;
  line-height: 21px;
}

.absui-icon--book-open::before {
  content: "\ebf1";
  font-size: 21px;
  line-height: 21px;
}

.absui-icon--book-open-questionmark::before {
  content: "\ebf1";
  font-size: 21px;
  line-height: 21px;
}

.absui-icon--monitor-dashboard::before {
  content: "\ea54";
  font-size: 18px;
  line-height: 18px;
}

.absui-icon--calendar-text-add:before {
  content: "\e9a1";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--link:before {
  content: "\e9d7";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--messge-ok:before {
  content: "\eae9";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--wallet-giftcard::before {
  content: "\ea3a";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--payment:before {
  content: "\e924";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--add-circle:before {
  content: "\e147";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--truck:before {
  content: "\e97a";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--table-cells-row:before {
  content: "\eade";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--sum-in:before {
  content: "\ebaa";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--calculator-loan:before {
  content: "\eb9c";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--calc-set-settings:before {
  content: "\eac7";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--genius:before {
  content: "\eb58";
  font-size: 18px;
  color: $brand-10;
  position: absolute;
  top: -2px;
  margin-left: 3px;
}

.absui-icon--currency-exchange:before {
  content: "\eb9d";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--money-banknote:before {
  content: "\eb9f";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--calc:before {
  content: "\e99f";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--link-money:before {
  content: "\e9d3";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--file-edit-1:before {
  content: "\e9b9";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--file-add:before {
  content: "\e9b7";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--big-data-compute:before {
  content: "\ebe4";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--cancel:before {
  content: "\e5c9";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.dx-icon.dx-icon-barcode::before {
  content: "\eac5";
  font-family: Lumen;
  font-style: normal;
  color: $neutral-10;
  font-size: 1rem !important;
}

.dx-icon.dx-icon-scaner::before {
  content: "\eb88";
  font-family: Lumen;
  font-style: normal;
  color: $text-gray;
  position: relative;
  font-size: 18px !important;
}

.absui-icon--send::before {
  content: "\e163";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--add-no-circle:before {
  content: "\e145";
  font-size: 16px;
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--mode-edit:before {
  content: "\e932";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--keyboard:before {
  content: "\eb77";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--orders:before {
  content: "\e922";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--file-sort-down:before {
  content: "\eb8c";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--file-box-down:before {
  content: "\e99c";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--export-spreadsheet:before {
  content: "\eb12";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--file-lock:before {
  content: "\ea86";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--replay:before {
  content: "\e042";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--highlight-off:before {
  content: "\e872";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--highlight-offf:before {
  content: "\e888";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--check-circle:before {
  content: "\e86c";
  font-size: 16px;
}

.absui-icon--error-outline:before {
  font-size: 16px;
  content: "\e001";
}

.absui-icon--check:before {
  font-size: 16px;
  content: "\e5ca";
}

.absui-icon--remove-circle-outline:before {
  content: "\e15d";
  font-size: 16px;
}

.absui-icon--sort-up::before {
  content: "\eace";
}

.absui-icon--set-settings:before {
  content: "\eac6";
}

.absui-icon--windows::before {
  content: "\ead9";
}

.absui-icon--key:before {
  content: "\e9cc";
  font-size: 16px;
}

.absui-icon--print::before {
  content: "\e8ad";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--xml::before {
  content: "\e946";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--file-ist::before {
  content: "\ebcb";
  font-size: 21px;
  line-height: 14px;
}

.absui-icon--table-coins::before {
  content: "\ead2";
  font-size: 21px;
}

.absui-icon--sort-ascending::before {
  content: "\eacb";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--playlist-minus::before {
  content: "\e981";
  font-size: 21px;
  color: $text-gray;
}

.dx-icon.dx-icon-playlist-plus::before {
  content: "\e03b";
  font-family: Lumen;
  font-style: normal;
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--status-off-circle::before {
  content: "\eb01";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--status-ok-green::before {
  content: "\eb02";
  font-size: 18px !important;
  color: $theme-positive-10;
}

.absui-icon--hide-left-panel::before {
  content: "\eaec";
  font-size: 21px;
  color: $text-gray;
}
.absui-icon--hide-right-panel::before {
  content: "\eaed";
  font-size: 21px;
  color: $text-gray;
}
.absui-icon--renumber::before {
  content: "\e980";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--docs-many::before {
  content: "\ea33";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--wrench::before {
  content: "\e992";
}

.dx-icon-spindown::before {
  font-family: Lumen;
  content: "\e5c5";
  cursor: pointer;
  font-size: 18px;
  line-height: 14px;
}

.drop-down-box::before {
  font-family: Lumen;
  content: "\e5c5";
  cursor: pointer;
  font-size: 18px;
  line-height: 14px;
  position: relative;
  top: -3px;
}

.absui-icon--arrow-drop-down-box::before {
  font-family: Lumen;
  content: "\e5c5";
  cursor: pointer;
  font-size: 18px;
  line-height: 14px;
}

.dx-icon-spinup::before {
  font-family: Lumen;
  content: "\e5c7";
  cursor: pointer;
  font-size: 18px;
  line-height: 14px;
}

.dx-icon-absui-icon--scissors {
  font-style: normal;
  &::before {
    content: "\eab0";
    font-family: Lumen;
    cursor: pointer;
    font-size: 21px;
    line-height: 14px;
  }
}

.dx-icon-absui-icon--barcode {
  font-style: normal;
  &::before {
    content: "\e95f";
    font-family: Lumen;
    cursor: pointer;
    font-size: 21px;
    line-height: 14px;
  }
}

.absui-icon--sort-descending::before {
  content: "\eacf";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--credit-card::before {
  content: "\eacb";
  font-size: 21px;
  color: $text-gray;
}

.absui-icon--person-ok:before {
  content: "\eac3";
  font-size: 21px;
}

.absui-icon--folder-expandd:before {
  content: "\ea24";
  font-size: 18px;
  position: relative;
  top: -3px;
}

.absui-icon--folder-expand:before {
  content: "\ea24";
  font-size: 21px;
}

.absui-icon--dropdown--folder-expand {
  margin-top: -4px !important;
  &:before {
    content: "\ea24";
    font-size: 16px;
  }
}

.absui-icon--dropdown--folder-open-outline {
  margin-top: -4px !important;
  &:before {
    content: "\eaf6";
    font-size: 16px;
  }
}

.absui-icon--next {
  &:before {
    content: "\e318";
    font-size: 16px;
  }
}

.absui-icon--prev {
  &:before {
    content: "\e317";
    font-size: 16px;
  }
}

.absui-icon--photo-add {
  &:before {
    content: "\e9e7";
    font-size: 16px;
  }
}

.absui-icon--files:before {
  content: "\e9c1";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--calculator-business-money:before {
  content: "\eb49";
  font-size: 1.187rem;
  font-size: 21px;
}

.absui-icon--attach-files:before {
  content: "\eaa9";
  font-size: 1.187rem;
  font-size: 21px;
}

.absui-icon--invoice-sequence:before {
  content: "\e957";
  font-size: 1.187rem;
  font-size: 21px;
}

.absui-icon--bill-credit-card:before {
  content: "\eb62";
  font-size: 1.187rem;
  font-size: 21px;
}

.absui-icon--package-front:before {
  content: "\eac1";
  font-size: 1.187rem;
  font-size: 21px;
}

.absui-icon--files-copy:before {
  content: "\eab8";
  font-size: 21px;
}

.absui-icon--sheets {
  &:before {
    content: "\eac9";
  }
}

.absui-icon--control-date-time::before {
  content: "\eab3";
}

.absui-icon--stats::before {
  content: "\e952";
}

.absui-icon--applications {
  &:before {
    content: $absui-icon--applications;
  }
}

.absui-icon--document-text {
  &:before {
    content: $absui-icon--document-text;
  }
}

.absui-icon--files-copy {
  &:before {
    content: "\eab8";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--dollar {
  &:before {
    content: "\e227";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--gear-numbers {
  &:before {
    content: "\eb21";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--gear-new {
  &:before {
    content: "\eb20";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.tool-select-rectangle {
  &:before {
    content: "\ead6";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--form-informnation {
  &:before {
    content: "\eb27";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--gear-remove {
  &:before {
    content: "\eb20";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--enterprise {
  &:before {
    content: "\e91f";
    font-size: 21px;
  }
}

.absui-icon--point-list::before {
  content: "\e9ec";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--wallet::before {
  content: "\ea3a";
  font-size: 1.12rem !important;
  -webkit-text-stroke-width: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.absui-icon--clear-filter {
  &:before {
    content: "\e90b";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--import-contacts {
  &:before {
    content: "\e0e0";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--folder-open-outline {
  &:before {
    content: "\eaf6";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--gear-remove2 {
  &:before {
    content: "\eb22";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--tool-select-rectangle {
  &:before {
    content: "\e86c";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--input-output {
  &:before {
    content: "\ebe8";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--archive {
  &:before {
    //content: "\e988";
    content: "\e149";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--lock {
  &:before {
    //content: "\e988";
    content: "\eb32";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--unarchive {
  &:before {
    content: "\e169";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--lock-user {
  &:before {
    content: "\e988";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--unlock-user {
  &:before {
    //content: "\e988";
    content: "\e989";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--unlock {
  &:before {
    //content: "\e989";
    content: "\eb32";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--trash {
  &:before {
    content: "\e98f";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--form-items {
  &:before {
    content: "\e98b";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--print {
  &:before {
    content: "\e8ad";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--select {
  &:before {
    content: "\e86c";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--deliveries {
  &:before {
    content: "\e964";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--trolley {
  &:before {
    content: "\ea03";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--podukty {
  &:before {
    content: "\e94f";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--edocuments {
  &:before {
    content: "\eb2c";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--base-currencies {
  &:before {
    content: "\eb1b";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--set-lock {
  &:before {
    content: "\eb1e";
    font-size: 1rem !important;
  }
}

.absui-icon--money-dollar-fill {
  &:before {
    content: "\eb34";
    position: relative;
    top: 2px;
    font-size: 1.125rem !important;
    color: $icons-cyan;
  }
}

.absui-icon--warning2 {
  &:before {
    content: "\e002";
    font-size: 1rem;
  }
}

.absui-icon--add-box {
  &:before {
    content: "\e146";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--indeterminate-check-box {
  &:before {
    content: "\e909";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--add-all {
  &:before {
    content: "\e993";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--remove-all {
  &:before {
    content: "\eb76";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.dx-state-hover .absui-icon--grid-unlock {
  color: $neutral-50;
  &:hover {
    color: $neutral-30;
  }
  &:before {
    content: "\eb1c";
    font-size: 18px !important;
  }
}

.dx-state-hover .absui-icon--grid-lock {
  color: $neutral-50;
  &:hover {
    color: $neutral-30;
  }
  &:before {
    content: "\eb1c";
    font-size: 18px !important;
  }
}

.absui-icon--grid-lock {
  &:before {
    content: "\eb1e";
    font-size: 18px !important;
  }
}

.absui-icon--set-unlock {
  &:before {
    content: "\eb1c";
    font-size: 1.12rem !important;
  }
}

.absui-icon--get-nbp {
  &:before {
    content: "\eb2f";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--get-ebc {
  &:before {
    content: "\eb2b";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--select-ebc {
  &:before {
    content: "\eb2c";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--select-nbp {
  &:before {
    content: "\eb2e";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--active {
  &:before {
    content: "\e9a6";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--tables,
.btn-dx-top-menu .dx-icon.absui-icon--tables {
  &:before {
    content: "\eae1";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em !important;
    -webkit-font-smoothing: antialiased;
  }
}

.icon-star-mobile {
  &:before {
    content: "\e88a";
    font-size: 20px;
    font-family: Lumen;
    top: 2px;
    position: relative;
    color: $neutral-50 !important;
  }
}

.icon-star-mobile-active {
  &:before {
    content: "\e88a";
    font-size: 20px;
    font-family: Lumen;
    top: 2px;
    position: relative;
    color: $brand-10 !important;
  }
}

.absui-icon--operations {
  &:before {
    content: "\e5d4";
    font-size: 1.12rem !important;
  }
}

.absui-icon--sum {
  &:before {
    content: "\eb17";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--history {
  &:before {
    content: "\e910";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--creator {
  &:before {
    content: "\eb23";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--verified-user {
  &:before {
    content: "\e8e8";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--pin-classic-off {
  &:before {
    content: "\eaa7";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--undo {
  &:before {
    content: "\ea06";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.history-clock-changes {
  &:before {
    content: "\eabb";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.icon-close-custom-search-box {
  border-radius: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 28px;
  position: relative;
  top: 6px;
  &:before {
    border-radius: 6px;
    display: none;
    padding-top: 1px;
    padding-bottom: 2px;
    height: 28px;
    position: relative;
    top: 0px;
    content: "\e5cd";
    font-size: 14px;
  }
  &:hover {
    height: 28px;
    position: relative;
    top: 6px;
    background: transparent;
    &::before {
      color: $brand-10;
    }
  }
}

.dx-state-hover {
  .icon-close-custom-search-box {
    &:before {
      display: inline-block;
    }
  }
}

.absui-icon--close {
  &:before {
    content: "\e5cd";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--symbol-asterisk {
  &:before {
    content: "\eb74";
    font-size: 1.12rem !important;
  }
}

.absui-icon--filter {
  &::before {
    content: "\f0b0";
    font-size: 1rem;
  }
}

.absui-icon--task-list {
  &::before {
    content: "\ead8";
    font-size: 1rem;
  }
}

.absui-icon--filter-disabled {
  &::before {
    content: "\e9c2";
    font-size: 1rem;
  }
}

.globe {
  &:before {
    content: "\eae5";
    font-size: 1.12rem !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--multiplication {
  &:before {
    content: "\e96d";
    font-size: 18px !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.absui-icon--tab-filter {
  &:before {
    content: "\e951";
    font-size: 15px !important;
    -webkit-text-stroke-width: 0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

.dx-icon-more-horizontal::before {
  content: "\e5d3";
  font-family: Lumen;
  font-size: 18px !important;
  font-style: normal;
  color: $neutral-30 !important;
  position: relative;
}

.icon.arrow-small-right:before {
  content: "\eb5b";
  font-family: Lumen;
  font-size: 18px;
  color: $neutral-40;
  position: relative;
  top: 4px;
}

.dx-state-hover .icon.icon-circle-blank {
  color: $neutral-50;
  &:hover {
    color: $neutral-30;
  }
  &::before {
    content: "\eaff";
    font-family: Lumen;
    font-size: 18px;
  }
}

.icon.low-priority::before {
  content: "\eaff";
  font-family: Lumen;
  font-size: 18px !important;
  color: $neutral-40;
  width: 18px;
  height: 18px;
}

.medium-priority::before {
  content: "\eb13";
  font-family: Lumen;
  font-size: 18px !important;
  color: $theme-positive-10;
}

.icon.high-priority::before {
  content: "\eb14";
  font-family: Lumen;
  font-size: 18px !important;
  color: $brand-10;
  width: 18px;
  height: 18px;
}

.icon-group {
  &.icon-tree {
    color: $neutral-10;
    padding-right: 5px;
    width: 18px;
    height: 18px;
    margin-right: 2px;
    &::before {
      top: 2px;
      font-size: 16px !important;
      width: 18px;
      height: 18px;
      margin-right: 2px;
    }
  }
  &.icon-cell::before {
    position: relative;
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }
  &::before {
    font-family: Lumen;
    font-size: 18px !important;
    font-style: normal;
    position: absolute;
    top: 21px;
    left: 16px;
    width: 18px;
    height: 18px;
    margin-right: 2px;
    color: $neutral-30;
  }
  &.phone-group::before {
    content: "\e0cd";
  }
  &.user-group::before {
    content: "\ea48";
  }
  &.car-group::before {
    content: "\e531";
  }
  &.service-group::before {
    content: "\e931";
  }
  &.default-icon::before {
    content: "\e951";
  }
  &.icon-group.icon-review::before {
    content: "\e917";
  }
  &.icon-group.icon-repair::before {
    content: "\e992";
  }
  &.plus-btn {
    position: absolute;
    top: 20px;
    left: calc(100% - 35px);
    &::before {
      top: 0;
      left: 0;
      content: "\e145";
    }
  }
}

.absui-icon--select-one:before {
  content: "\ecd9";
  font-size: 24px;
}

.absui-icon--select-inverse:before {
  content: "\ebd0";
  font-size: 24px;
}

.absui-icon--select-triple-left:before {
  content: "\ecda";
  font-size: 24px;
}

.absui-icon--select-all:before {
  content: "\ebcf";
  font-size: 24px;
}

.absui-icon--warehouse:before {
  content: "\ebd4";
  font-size: 18px;
}

.absui-icon--people:before {
  content: "\e7fb";
  font-size: 21px;
}

.absui-icon--select-one-outline:before {
  content: "\ed3e";
  font-size: 24px;
}

.absui-icon--select-inverse-outline {
  &:before {
    content: "\ed3d";
    font-size: 24px;
  }
}
