@import "./mixins";

$main-font-size: 16px;

/* headers */
h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h4 {
    @include heading-4;
}

h5 {
    @include heading-5;
}

.subheader-short {
    @include subheader-short;
}

.subheader-long {
    @include subheader-long;
}

.body-short {
    @include body-text-short;
}

.body-long {
    @include body-text-long;
}

.caption-short {
    @include caption-short;
}

.caption-long {
    @include caption-long;
}

.label {
    @include label-text;
}

.legal-1 {
    font-size: 0.688 * $main-font-size;
    line-height: 24px;
    font-weight: 400;
}

.legal-2 {
    font-size: 0.563 * $main-font-size;
    line-height: 12px;
    font-weight: 400;
}
