<dx-date-box
  [(value)]="myValue"
  [type]="type"
  [displayFormat]="displayFormat"
  [width]="width || 276"
  class="wapro-date-box"
  [readOnly]="readOnly"
  [disabled]="disabled"
  (mouseover)="mouseover()"
  (mouseout)="mouseout()"
  (onFocusIn)="onFocusIn()"
  (onFocusOut)="onFocusOut()"
  (onValueChanged)="onValueChangedDate($event)"
  (onEnterKey)="openBox()"
  (onOpened)="onOpened()"
  (onClosed)="onClosed()"
  [(opened)]="opened"
  [ngClass]="{
    'input-required': errorClass,
    'date-hover': isHover,
    'no-max-width': noMaxWidth
  }"
  #dateBox
  (onKeyDown)="keydown($event)"
  (onBlur)="onBlur($event)"
  applyValueMode="useButtons"
  valueChangeEvent="change"
  [calendarOptions]="calendarOptions"
>
  <dxi-button
    name="calendar"
    location="before"
    [options]="calendarBtn"
  ></dxi-button>
  @if (type != 'time') {
  <dxi-button
    name="minus"
    location="after"
    cssClass="myClass"
    [options]="minusBtn"
    class="wapro-btn-date"
  ></dxi-button>
  } @if (type != 'time') {
  <dxi-button
    name="plus"
    location="after"
    [options]="plusBtn"
    style="border-radius: 6px; height: 21px"
  ></dxi-button>
  }
</dx-date-box>
