@if (event.deviceType == 'desktop') {
<header>
  <dx-toolbar [items]="toolbarContent"></dx-toolbar>
  <div
    class="title-menu text-center"
    style="display: flex; justify-content: space-between"
  >
    <p
      class="header-name-application"
      style="position: relative; margin: auto; padding-right: 70px"
    >
      Ryczałt
    </p>
    @if (!isdataPortal) {
    <div class="left-btn-header-panel">
      <!-- <dx-button
        class="btn-dx-top-menu-folder"
        icon="icon absui-icon--book-open"
        (onClick)="runGuide()"
        style="margin-right: 6px"
        [id]="'btn-user-guide'"
      >
      </dx-button> -->
      <dx-button
        (click)="onUserPanelClick()"
        id="userPanelHeader"
        [ngClass]="{
          'user-panel-header-active': isHideUserPanel,
          'user-panel-header': !isHideUserPanel
        }"
      >
        <i
          class="dx-icon-user"
          style="position: relative"
          tabIndex="-1"
        ></i>
      </dx-button>
    </div>
    }
  </div>
  <dx-tooltip
    [target]="'#btn-user-guide'"
    [hideEvent]="{ name: 'mouseleave' }"
    [hideOnOutsideClick]="false"
    [showEvent]="{ name: 'mouseover', delay: 1000 }"
    cssClass="tooltip"
  >
    <div *dxTemplate="let data of 'content'">
      {{ "userGuide.runGuideAgain" | translate }}
      runGuideAgain
    </div>
  </dx-tooltip>
  <dx-tooltip
    target="#logout"
    position="bottom"
    [hideOnOutsideClick]="false"
    [hideEvent]="{ name: 'mouseleave' }"
    [showEvent]="{ name: 'mouseover', delay: 1000 }"
    cssClass="tooltip"
    [wrapperAttr]="{ class: 'logout-tooltip' }"
  >
    <div *dxTemplate="let data = data; of: 'content'">
      {{ "menu.log-out" | translate }}
      Wyloguj
    </div>
  </dx-tooltip>
  <dx-drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    height="auto"
    (openedChange)="openedChange()"
    [animationEnabled]="true"
    tabIndex="1"
  >
    <div
      *dxTemplate="let data of 'template'"
      class="bg-menu"
      style="width: 82px"
    >
      <dx-scroll-view
        width="100%"
        height="calc(100vh - 32px)"
        direction="vertical"
        showScrollbar="onHover"
      >
      <i class="fa fa-brands fa-angular"></i>
        <dx-menu
          #menu
          [dataSource]="navigation"
          displayExpr="name"
          [focusStateEnabled]="true"
          [showFirstSubmenuMode]="showFirstSubmenuModes"
          orientation="vertical"
          submenuDirection="rightOrBottom"
          [hideSubmenuOnMouseLeave]="true"
          itemTemplate="items"
          cssClass="main-menu"
          style="padding-left: 6px"
          tabindex="1"
        >
          <div *dxTemplate="let item of 'items'; let i = index">
            @if (item.name !== 'menu.start') { @if (item.url != null && item.url
            != 'help') {
            <div
              class="dx-item-content dx-menu-item-content"
              [id]="'id-' + item.id"
              routerLinkActive="active"
              [ngClass]="{
                'dx-submenu-top': item.id > 20,
                'dashboard-step-3': item.url == 'content/users',
                'dashboard-step-2': item.url == 'content/groups',
                'dashboard-step-4': item.url == 'content/companies',
                'dashboard-step-1': item.url == 'content/start'
              }"
              [routerLink]="['/' + item.url]"
            >
              <a [routerLink]="['/' + item.url]" tabindex="-1" class="a-link">
                <div
                  [ngClass]="{
                    'text-left': item.id > 20,
                    'text-center': item.id < 21
                  }"
                >
                  <!-- <i
                        class="icon absui-icon--arrow-drop-right submenu-icon-show"
                        style="position: absolute; top: 2px; right: 0px"
                        *ngIf="item.id < 10 && item.items.length > 0"
                      ></i> -->
                  <i
                    class="dx-icon icon {{ item.icon }}"
                    style="display: block; margin-left: 20px"
                  ></i>
                  <span
                    class="dx-menu-item-text-span"
                    [ngClass]="{ 'dx-submenu-top-span': item.id > 20 }"
                    >{{ item.name | translate }}</span
                  >
                </div>
              </a>
            </div>
            } } @else { @if (item.url != null && item.url != 'help') {
            <div
              class="dx-item-content dx-menu-item-content"
              [id]="'id-' + item.id"
              routerLinkActive="active"
              [routerLink]="['/' + item.url]"
              [ngClass]="{
                'dashboard-step-1': item.url == 'content/start'
              }"
            >
              <div class="text-center">
                <i class="dx-icon icon {{ item.icon }}"></i><br />
                <span class="dx-menu-item-text-span">{{
                  item.name | translate
                }}</span>
              </div>
            </div>
            } }
            <!-- [routerLink]="['/'+item.url]" -->
            @if (item.url != null && item.url == 'help') {
            <div
              class="dx-item-content dx-menu-item-content"
              [id]="'id-' + item.id"
              [routerLink]=""
              [ngClass]="{
                'apps-css': item.id == 1,
                active: item.id == 1
              }"
            >
              <div class="text-center">
                <a
                  href="https://wapro.pl/dokumentacja-erp/mag/webframe.htm"
                  target="_blank"
                  style="text-decoration-line: none"
                >
                  <i
                    class="dx-icon icon {{ item.icon }}"
                    style="color: #333 !important"
                  ></i
                  ><br />
                  <span
                    class="dx-menu-item-text-span"
                    style="
                      color: #333 !important;
                      font-family: Roboto, sans-serif;
                      font-weight: 500;
                      font-size: 0.625rem;
                      line-height: 12px;
                    "
                    >{{ item.name | translate }}</span
                  >
                </a>
              </div>
            </div>
            }
            <div [ngClass]="{ 'dx-menu-items-container': item.id > 20 }">
              @if (item.url == null) {
              <div
                class="dx-item-content dx-menu-item-content text-center"
                [id]="'id-' + item.id"
                [ngClass]="{ 'apps-css': item.id == 1 }"
                [routerLink]=""
                [ngClass]="{ 'dx-submenu-top': item.id > 20 }"
              >
                <div
                  [ngClass]="{
                    'text-left': item.id > 20,
                    'text-center': item.id < 21
                  }"
                >
                  @if (item.id == 1) {
                  <i
                    class="dx-icon icon {{ item.icon }}"
                    style="margin-top: -2px; display: block; margin-left: 20px"
                  ></i>
                  }
                  <span
                    class="dx-menu-item-text-span"
                    [ngClass]="{ 'dx-submenu-top-span-sub': item.id > 20 }"
                    >{{ item.name | translate }}</span
                  >
                  @if (item.id > 20) {
                  <i
                    class="icon absui-icon--arrow-drop-right-user-panel"
                    style="position: relative; top: -4px; float: right"
                  ></i>
                  }
                </div>
              </div>
              }
            </div>
          </div>
        </dx-menu>
      </dx-scroll-view>
    </div>
    <div
      id="content"
      [ngClass]="{ 'hide-scroll': route.url === '/start' }"
      (click)="clickContent()"
      style="
        height: calc(100vh - 32px);
        width: calc(100%);
        max-width: 102%;
        overflow-y: hidden;
        overflow-x: hidden !important;
      "
    >
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </dx-drawer>
</header>
} @else {
<header
  class="top-menu-header-mobile"
  #header
  style="position: sticky !important; z-index: 12"
>
  <nav class="nav-mobile">
    <div
      class="navbar-toggler-mobile"
      (click)="isMenuMobile = !isMenuMobile; isSubmenuItemClick = false"
      [ngClass]="{
        'navbar-toggler-mobile': !isMenuMobile,
        'navbar-toggler-mobile-active': isMenuMobile
      }"
    >
      <i class="dx-icon dx-icon-menu"></i>
    </div>
    <img
      src="../../../assets/images/text-header.svg"
      style="margin-top: -40px; margin-left: calc(50vh - 315px)"
    />
    <!-- <wapro-logo
              fillColorPrimary="neutral-100"
              fillColorSecondary="neutral-100"
              type="anywhere"
              [width]="120"
              [height]="16"
              style="padding-left: 10px"
            ></wapro-logo> -->
    <div
      class="mobile-user-icon"
      (click)="isMenuMobile = false; isMobileSettings = true"
    >
      <i
        class="icon absui-icon--account-circle"
        aria-hidden="true"
        style="padding-top: 8px; position: relative"
        tabIndex="-1"
      ></i>
    </div>
    <dx-popup
      width="100%"
      height="calc(100% - 30px)"
      position="bottom"
      [showCloseButton]="false"
      [animation]="{
        show: { type: 'slide', direction: 'left' },
        hide: { type: 'slide', direction: 'left' }
      }"
      [showTitle]="false"
      [visible]="isMenuMobile"
      [shading]="false"
      [wrapperAttr]="{ class: 'menu-mobile' }"
    >
      <div *dxTemplate="let content of 'content'">
        @if (!isSubmenuItemClick) {
        <dx-menu
          [dataSource]="navigation"
          displayExpr="name"
          [focusStateEnabled]="true"
          [showFirstSubmenuMode]="showFirstSubmenuModes"
          orientation="vertical"
          submenuDirection="auto"
          [hideSubmenuOnMouseLeave]="true"
          itemTemplate="items"
          (onItemClick)="onItemClickMobile($event)"
          tabindex="1"
          cssClass="mobile-main-menu"
        >
          <div *dxTemplate="let item of 'items'; let i = index">
            <div>
              <div
                class="item-menu-mobile"
                routerLinkActive="active"
                [class.active]="route.isActive(item.url, false) && item.id != 1"
                [routerLinkActiveOptions]="{ exact: true }"
                (touchstart)="touchStart(item)"
                (touchend)="touchEnd()"
                [ngClass]="{ 'tap-menu-mobile': isTap == item.id }"
              >
                <i class="dx-icon icon {{ item.icon }}"></i>
                <span class="dx-menu-item-text-span-mobile">{{
                  item.name | translate
                }}</span>
                @if (item.items && item.items.length >= 1) {
                <i
                  class="icon absui-icon--arrow-drop-right-user-panel"
                  style="
                    position: relative;
                    left: 0px;
                    top: -2px;
                    margin-right: 10px;
                    float: right;
                    font-size: 20px !important;
                  "
                ></i>
                }
              </div>
            </div>
          </div>
        </dx-menu>
        } @if (isSubmenuItemClick) {
        <div>
          <app-mobile-main-submenu
            [items]="itemChosed"
            (onClosingSubmenu)="isSubmenuItemClick = false; cdr.detectChanges()"
            (onCloseMenu)="isMenuMobile = false; cdr.detectChanges()"
            [parentLevel]="itemChosed"
          >
          </app-mobile-main-submenu>
        </div>
        }
      </div>
    </dx-popup>
  </nav>
</header>
<div id="content">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-mobile-list
  [dataSource]="navigationPanelUser"
  [visible]="isMobileSettings"
  (onClosed)="isMobileSettings = false"
  (onItemClick)="itemClick($event)"
  [title]="currentUserName"
  [titleIcon]="'absui-icon--account-circle'"
></app-mobile-list>
@if (event.deviceType === 'mobile') {
<div class="bottomNavigationBar" #bottomNavigationBar>
  <dx-button
    class="btn-dx-top-menu-folder btn-dynamic-state"
    icon="icon absui-icon--arrow-downward"
    (onClick)="scroll('down')"
  >
  </dx-button>
  <dx-button
    class="btn-dx-top-menu-folder btn-dynamic-state"
    icon="icon absui-icon--arrow-upward"
    (onClick)="scroll('up')"
  >
  </dx-button>
</div>
} } @if(isHideUserPanel){

<div class="user-info-panel" [ngStyle]="{ 'right.px': 5 }">
  <div class="row" style="width: 100%; padding: 6px; margin-left: 0px">
    <div class="col-md-12 text-center box-user">
      <div class="circle_user">
        <p>{{ currentUserName | slice : 0 : 2 }}</p>
      </div>
      <p class="p_user_name">{{ currentUserName }}</p>
    </div>
  </div>

  <div
    class="row"
    style="width: 100%; margin-left: 0px; padding: 6px; padding-top: 0px"
  >
    <div
      class="col-md-12"
      style="padding: 14px 0px; padding-top: 0px; padding-bottom: 6px"
    >
      <dx-menu
        #menu
        [dataSource]="navigationPanelUser"
        displayExpr="name"
        [tabIndex]="-1"
        [showFirstSubmenuMode]="showFirstSubmenuModes"
        orientation="vertical"
        submenuDirection="auto"
        [hideSubmenuOnMouseLeave]="false"
        cssClass="menu-panel-user border-bottom"
        style="
          position: relative;
          margin-left: 0px;
          width: 286px;
          margin-bottom: -5px;
        "
        (onItemClick)="itemClick($event)"
        itemTemplate="menuItem"
      >
        <div
          *dxTemplate="let item of 'menuItem'"
          class="top-menu-item text-left"
          routerLinkActive="active"
        >
          <div
            class="dx-item-content dx-menu-item-content"
            [ngClass]="{
              'lang-selection': item.role === 'lang-selection',
              'lang-selected': item.active
            }"
          >
            <i
              class="dx-icon"
              [class]="item.icon"
              style="
                position: relative;
                top: -3px;
                width: 18px;
                height: 18px;
                margin-right: -15px;
              "
            ></i>
            <span class="dx-menu-item-text">{{ item.name | translate }}</span>
            @if (item.id == 1) {
            <i
              class="icon absui-icon--arrow-drop-right-user-panel"
              style="position: absolute; right: 20px"
            ></i>
            }
          </div>
        </div>
      </dx-menu>
    </div>
  </div>
</div>
} @if (isGuideActive) {
<app-user-guide
  (finished)="onGuideFinished($event)"
  [view]="userGuideKey"
></app-user-guide>
} @if (isShowInfoAboutVersion) {
<app-confirm-dialog
  kindDialog="information"
  [confirmText]="infoAboutVersion"
  [isVisible]="true"
  [btnConfig]="'close'"
  (onClosing)="isShowInfoAboutVersion = false"
>
</app-confirm-dialog>
}
@if(isCompanyVisible()){
<app-company
  [isVisible]="isCompanyVisible()"
  (onClosing)="isCompanyVisible.set(false)"
></app-company>
}
