@if (event.deviceType == 'desktop') {
<header>
  <dx-toolbar [items]="toolbarContent"></dx-toolbar>
  <div
    class="title-menu text-center"
    style="display: flex; justify-content: space-between; position: relative; top: -32px;"
  >
    <p
      class="header-name-application"
      style="position: relative; margin: auto; padding-right: 70px"
    >
      Ryczałt
    </p>
    @if (!isdataPortal) {
    <div class="left-btn-header-panel">
      <dx-button
        (click)="onUserPanelClick()"
        id="userPanelHeader"
        [ngClass]="{
          'user-panel-header-active': isHideUserPanel,
          'user-panel-header': !isHideUserPanel
        }"
      >
        <i
          class="dx-icon-user"
          style="position: relative"
          tabIndex="-1"
        ></i>
      </dx-button>
    </div>
    }
  </div>
  
  <!-- Tooltips -->
  <dx-tooltip
    [target]="'#btn-user-guide'"
    [hideEvent]="{ name: 'mouseleave' }"
    [hideOnOutsideClick]="false"
    [showEvent]="{ name: 'mouseover', delay: 1000 }"
    cssClass="tooltip"
  >
    <div *dxTemplate="let data of 'content'">
      {{ "userGuide.runGuideAgain" | translate }}
      runGuideAgain
    </div>
  </dx-tooltip>
  
  <dx-tooltip
    target="#logout"
    position="bottom"
    [hideOnOutsideClick]="false"
    [hideEvent]="{ name: 'mouseleave' }"
    [showEvent]="{ name: 'mouseover', delay: 1000 }"
    cssClass="tooltip"
    [wrapperAttr]="{ class: 'logout-tooltip' }"
  >
    <div *dxTemplate="let data = data; of: 'content'">
      {{ "menu.log-out" | translate }}
      Wyloguj
    </div>
  </dx-tooltip>
  
  <!-- Drawer -->
  <dx-drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    height="auto"
    (openedChange)="openedChange()"
    [animationEnabled]="true"
    tabIndex="1"
  >
    <div
      *dxTemplate="let data of 'template'"
      class="bg-menu"
      style="width: 82px"
    >
      <dx-scroll-view
        width="100%"
        height="calc(100vh - 32px)"
        direction="vertical"
        showScrollbar="onHover"
      >
        <i class="fa fa-brands fa-angular"></i>
        <dx-menu
          #menu
          [dataSource]="navigation"
          displayExpr="name"
          [focusStateEnabled]="true"
          [showFirstSubmenuMode]="showFirstSubmenuModes"
          orientation="vertical"
          submenuDirection="rightOrBottom"
          [hideSubmenuOnMouseLeave]="true"
          itemTemplate="items"
          cssClass="main-menu"
          style="padding-left: 6px"
          tabindex="1"
        >
          <div *dxTemplate="let item of 'items'; let i = index">
            @if (item.name !== 'menu.start') { 
              @if (item.url != null && item.url != 'help') {
                <div
                  class="dx-item-content dx-menu-item-content"
                  [id]="'id-' + item.id"
                  routerLinkActive="active"
                  [ngClass]="{
                    'dx-submenu-top': item.id > 20,
                    'dashboard-step-3': item.url == 'content/users',
                    'dashboard-step-2': item.url == 'content/groups',
                    'dashboard-step-4': item.url == 'content/companies',
                    'dashboard-step-1': item.url == 'content/start'
                  }"
                  [routerLink]="['/' + item.url]"
                >
                  <a [routerLink]="['/' + item.url]" tabindex="-1" class="a-link">
                    <div
                      [ngClass]="{
                        'text-left': item.id > 20,
                        'text-center': item.id < 21
                      }"
                    >
                      <i
                        class="dx-icon icon {{ item.icon }}"
                        style="display: block; margin-left: 20px"
                      ></i>
                      <span
                        class="dx-menu-item-text-span"
                        [ngClass]="{ 'dx-submenu-top-span': item.id > 20 }"
                      >
                        {{ item.name | translate }}
                      </span>
                    </div>
                  </a>
                </div>
              } 
            } @else { 
              @if (item.url != null && item.url != 'help') {
                <div
                  class="dx-item-content dx-menu-item-content"
                  [id]="'id-' + item.id"
                  routerLinkActive="active"
                  [routerLink]="['/' + item.url]"
                  [ngClass]="{
                    'dashboard-step-1': item.url == 'content/start'
                  }"
                >
                  <div class="text-center">
                    <i class="dx-icon icon {{ item.icon }}"></i><br />
                    <span class="dx-menu-item-text-span">
                      {{ item.name | translate }}
                    </span>
                  </div>
                </div>
              } 
            }
            
            <div [ngClass]="{ 'dx-menu-items-container': item.id > 20 }">
              @if (item.url == null) {
                <div
                  class="dx-item-content dx-menu-item-content text-center"
                  [id]="'id-' + item.id"
                  [ngClass]="{ 
                    'apps-css': item.id == 1,
                    'dx-submenu-top': item.id > 20 
                  }"
                  [routerLink]=""
                >
                  <div
                    [ngClass]="{
                      'text-left': item.id > 20,
                      'text-center': item.id < 21
                    }"
                  >
                    @if (item.id == 1) {
                      <i
                        class="dx-icon icon {{ item.icon }}"
                        style="margin-top: -2px; display: block; margin-left: 20px"
                      ></i>
                    }
                    <span
                      class="dx-menu-item-text-span"
                      [ngClass]="{ 'dx-submenu-top-span-sub': item.id > 20 }"
                    >
                      {{ item.name | translate }}
                    </span>
                    @if (item.id > 20) {
                      <i
                        class="icon absui-icon--arrow-drop-right-user-panel"
                        style="position: relative; top: -4px; float: right"
                      ></i>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </dx-menu>
      </dx-scroll-view>
    </div>
    
    <div
      id="content"
      [ngClass]="{ 'hide-scroll': route.url === '/start' }"
      (click)="clickContent()"
      style="
        height: calc(100vh - 32px);
        width: calc(100%);
        max-width: 102%;
        overflow-y: hidden;
        overflow-x: hidden !important;
      "
    >
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </dx-drawer>
</header>
} @else {
<header
  class="top-menu-header-mobile"
  #header
  style="position: sticky !important; z-index: 12"
>
  <nav class="nav-mobile">
    <!-- Nowoczesne menu hamburger -->
    <div class="hamburger-menu-container">
      <button 
        class="hamburger-menu"
        [class.active]="isMenuMobile"
        (click)="isMenuMobile = !isMenuMobile; isSubmenuItemClick = false"
        aria-label="Menu"
        type="button"
      >
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>
    </div>
    
    <div class="mobile-header-title">
      <p class="header-name-application">Ryczałt</p>
    </div>
    
    <div
      class="mobile-user-icon"
      (click)="isMenuMobile = false; isMobileSettings = true"
    >
      <i
        class="icon absui-icon--account-circle"
        aria-hidden="true"
        tabIndex="-1"
      ></i>
    </div>
    
    <!-- Nowoczesne menu mobilne -->
    <div 
      class="mobile-menu-overlay"
      [class.active]="isMenuMobile"
      (click)="isMenuMobile = false"
    ></div>
    
    <div 
      class="mobile-menu-sidebar"
      [class.active]="isMenuMobile"
    >
      <div class="mobile-menu-header">
        <h3 class="mobile-menu-title">Menu</h3>
        <button 
          class="mobile-menu-close"
          (click)="isMenuMobile = false"
          aria-label="Zamknij menu"
        >
          <span></span>
          <span></span>
        </button>
      </div>
      
      <div class="mobile-menu-content">
        @if (!isSubmenuItemClick) {
          <nav class="mobile-menu-nav">
            @for (item of navigation; track item.id) {
              <div class="mobile-menu-item">
                @if (item.url != null && item.url != 'help' && (!item.items || item.items.length === 0)) {
                  <a 
                    [routerLink]="['/' + item.url]"
                    class="mobile-menu-link"
                    [class.active]="item.url ? route.isActive(item.url, false) : false"
                    (click)="isMenuMobile = false"
                  >
                    <i class="dx-icon icon {{ item.icon }}"></i>
                    <span class="mobile-menu-text">{{ item.name | translate }}</span>
                  </a>
                } @else if (item.items && item.items.length > 0) {
                  <button 
                    class="mobile-menu-button has-submenu"
                    (click)="isSubmenuItemClick = true; itemChosed = item"
                  >
                    <i class="dx-icon icon {{ item.icon }}"></i>
                    <span class="mobile-menu-text">{{ item.name | translate }}</span>
                    <i class="mobile-menu-arrow icon absui-icon--arrow-drop-right-user-panel"></i>
                  </button>
                }
              </div>
            }
          </nav>
        } 
        
        @if (isSubmenuItemClick && itemChosed && itemChosed.items) {
          <div class="mobile-submenu-container">
            <button class="mobile-submenu-back" (click)="isSubmenuItemClick = false">
              <i class="icon absui-icon--arrow-back-mobile-menu"></i> Wróć
            </button>
            <nav class="mobile-menu-nav">
              @for (item of itemChosed.items; track item.id) {
                <div class="mobile-menu-item">
                  <a 
                    [routerLink]="['/' + item.url]"
                    class="mobile-menu-link"
                    [class.active]="item.url ? route.isActive(item.url, false) : false"
                    (click)="isMenuMobile = false"
                  >
                    <i class="dx-icon icon {{ item.icon }}"></i>
                    <span class="mobile-menu-text">{{ item.name | translate }}</span>
                  </a>
                </div>
              }
            </nav>
          </div>
        }
      </div>
    </div>
  </nav>
</header>

<div id="content">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<app-mobile-list
  [dataSource]="navigationPanelUser"
  [visible]="isMobileSettings"
  (onClosed)="isMobileSettings = false"
  (onItemClick)="itemClick($event)"
  [title]="currentUserName"
  [titleIcon]="'absui-icon--account-circle'"
></app-mobile-list>

@if (event.deviceType === 'mobile') {
  <div class="bottomNavigationBar" #bottomNavigationBar>
    <dx-button
      class="btn-dx-top-menu-folder btn-dynamic-state"
      icon="icon absui-icon--arrow-downward"
      (onClick)="scroll('down')"
    >
    </dx-button>
    <dx-button
      class="btn-dx-top-menu-folder btn-dynamic-state"
      icon="icon absui-icon--arrow-upward"
      (onClick)="scroll('up')"
    >
    </dx-button>
  </div>
} 
} 

@if(isHideUserPanel){
<div class="user-info-panel" [ngStyle]="{ 'right.px': 5 }">
  <div class="row" style="width: 100%; padding: 6px; margin-left: 0px">
    <div class="col-md-12 text-center box-user">
      <div class="circle_user">
        <p>{{ currentUserName | slice : 0 : 2 }}</p>
      </div>
      <p class="p_user_name">{{ currentUserName }}</p>
    </div>
  </div>

  <div
    class="row"
    style="width: 100%; margin-left: 0px; padding: 6px; padding-top: 0px"
  >
    <div
      class="col-md-12"
      style="padding: 14px 0px; padding-top: 0px; padding-bottom: 6px"
    >
      <dx-menu
        #menu
        [dataSource]="navigationPanelUser"
        displayExpr="name"
        [tabIndex]="-1"
        [showFirstSubmenuMode]="showFirstSubmenuModes"
        orientation="vertical"
        submenuDirection="auto"
        [hideSubmenuOnMouseLeave]="false"
        cssClass="menu-panel-user border-bottom"
        style="
          position: relative;
          margin-left: 0px;
          width: 286px;
          margin-bottom: -5px;
        "
        (onItemClick)="itemClick($event)"
        itemTemplate="menuItem"
      >
        <div
          *dxTemplate="let item of 'menuItem'"
          class="top-menu-item text-left"
          routerLinkActive="active"
        >
          <div
            class="dx-item-content dx-menu-item-content"
            [ngClass]="{
              'lang-selection': item.role === 'lang-selection',
              'lang-selected': item.active
            }"
          >
            <i
              class="dx-icon"
              [class]="item.icon"
              style="
                position: relative;
                top: -3px;
                width: 18px;
                height: 18px;
                margin-right: -15px;
              "
            ></i>
            <span class="dx-menu-item-text">{{ item.name | translate }}</span>
            @if (item.id == 1) {
              <i
                class="icon absui-icon--arrow-drop-right-user-panel"
                style="position: absolute; right: 20px"
              ></i>
            }
          </div>
        </div>
      </dx-menu>
    </div>
  </div>
</div>
} 

@if (isShowInfoAboutVersion) {
<app-confirm-dialog
  kindDialog="information"
  [confirmText]="infoAboutVersion"
  [isVisible]="true"
  [btnConfig]="'close'"
  (onClosing)="isShowInfoAboutVersion = false"
>
</app-confirm-dialog>
}

@if(isCompanyVisible()){
<app-company
  [isVisible]="isCompanyVisible()"
  (onClosing)="isCompanyVisible.set(false)"
></app-company>
}
