<div class="center-panel-scroll-verticall">
  <div class="row" style="margin-bottom: 185px">
    <div class="col-md-12 text-center" style="padding-top: calc(50vh - 216px)">
      <img
        src="../../../assets/images/folder.svg"
        alt="Asseco Business Solutions Wapro"
        loading="lazy"
        style="margin: 0 auto"
      />
      <h1 class="h1-not-found">Strony nie znaleziono lub brak uprawnień</h1>
      <p class="info">Sprawdź czy wprowadziłeś poprawny adres<br /></p>

      <dx-button
        class="btn-dx-secondary contractors-form-step-1"
        text="Wróć do poprzedniej strony"
        style="width: auto"
        (onClick)="history()"
      >
      </dx-button>
    </div>
  </div>
</div>
