<div class="top-menu-panel">
  <ng-container *ngTemplateOutlet="topButtons"> </ng-container>
</div>
<div class="center-panel-scroll-verticall">
  <div>
    <ng-container *ngTemplateOutlet="grid"></ng-container>
  </div>
</div>

<ng-template #topButtons>
  <dx-button
    class="btn-dx-top-menu"
    icon="plus"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive"
    (onClick)="addNewRecord()"
    text="{{ 'buttons.add' | translate }}"
    [id]="'btn-add'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="edit"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive || !focusedElement()"
    (onClick)="onEdit()"
    text="{{ 'buttons.edit' | translate }}"
    [id]="'btn-edit'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="dx-icon dx-icon-eyeopen"
    stylingMode="text"
    type="default"
    [disabled]="!focusedElement()"
    (onClick)="onShow()"
    text="{{ 'buttons.preview' | translate }}"
    [id]="'btn-eyeopen'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="dx-icon dx-icon-trash"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive || !focusedElement()"
    (onClick)="onDeleteConfirm()"
    text="{{ 'buttons.delete' | translate }}"
    [id]="'btn-delete'"
  >
  </dx-button>

  <app-date-range
    (dateRangeChange)="onDateRangeChange($event)"
    [hideMonth]="true"
  ></app-date-range>
</ng-template>

<ng-template #grid>
  <dx-scroll-view width="100%" height="calc(100% - 60px)">
    <dx-data-grid
      [dataSource]="dataSource"
      [wordWrapEnabled]="false"
      [showBorders]="true"
      [height]="heightGrid"
      class=""
      [columnResizingMode]="'widget'"
      [columnAutoWidth]="false"
      [allowColumnResizing]="true"
      [autoNavigateToFocusedRow]="true"
      [(focusedRowIndex)]="focusedRowIndex"
      [allowColumnReordering]="true"
      [focusedRowEnabled]="true"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onRowDblClick)="onRowDblClick($event)"
      [allowColumnResizing]="event.deviceType !== 'mobile'"
      #dxGrid
    >
      <dxo-load-panel [enabled]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [pageSize]="pageSize"></dxo-paging>
      <dxo-selection mode="single"></dxo-selection>

      <dxi-column
        caption="{{ 'zus.periodFrom' | translate }}"
        dataField="month"
        cellTemplate="PeriodFrom"
        [width]="110"
      ></dxi-column>
      <div *dxTemplate="let cell of 'PeriodFrom'">
        {{ cell.data.year }}-{{
          cell.data.month.toString().padStart(2, "0")
        }}-01
      </div>

      <dxi-column
        caption="{{ 'zus.periodTo' | translate }}"
        cellTemplate="PeriodTo"
        dataField="year"
        [width]="110"
      ></dxi-column>
      <div *dxTemplate="let cell of 'PeriodTo'">
        {{ cell.data.year }}-{{
          cell.data.month.toString().padStart(2, "0")
        }}-{{ getLastDayOfMonth(cell.data.year, cell.data.month) }}
      </div>

      <dxi-column
        caption="{{ 'internalEvidence.income' | translate }}"
        dataField="income"
        [width]="110"
      ></dxi-column>

      <dxi-column
        caption="{{ 'zus.title' | translate }}"
        dataField="socialInsurance"
        [width]="200"
      ></dxi-column>

      <dxi-column
        caption="{{ 'flatRateTax.amountFlatRateTax' | translate }}"
        dataField="amountFlatRateTax"
        [width]="200"
      ></dxi-column>

      <dxi-column
        caption="{{ 'flatRateTax.healthInsurance' | translate }}"
        dataField="reductionAmountHealt"
        [width]="250"
      ></dxi-column>

      <dxi-column
        caption="{{ 'zus.paymentDate' | translate }}"
        dataField="dataPayment"
        [width]="110"
        [allowSorting]="false"
        hidingPriority="7"
        dataType="date"
        [format]="{ type: event.dateFormat }"
        width="110"
        alignment="left"
      ></dxi-column>

      <dxi-column
        caption="{{ 'zus.isPaid' | translate }}"
        dataField="isPaid"
        [allowSorting]="false"
        hidingPriority="7"
        alignment="left"
        cellTemplate="isPaid"
      ></dxi-column>
      <div *dxTemplate="let data of 'isPaid'">
        @if (data.value) {

        <img src="../../../assets/images/check-solid.svg" alt="" width="14" />
        }
      </div>
    </dx-data-grid>
  </dx-scroll-view>
</ng-template>

<qumi-keyboard-shortcuts
  [shortcuts]="shortcuts"
  [disabled]="isAdd()"
></qumi-keyboard-shortcuts>

@if(isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="isDelete.set(false)"
></app-confirm-dialog>
} @if(isAdd()) {
<app-new-flat-rate-tax
  [isVisible]="isAdd()"
  [mode]="mode"
  (onClosing)="isAdd.set(false)"
  (onSaving)="onSaving($event)"
  [flatRateTax]="focusedElement()"
></app-new-flat-rate-tax>
}
