<div class="top-menu-panel">
  <ng-container *ngTemplateOutlet="topButtons"> </ng-container>
</div>
<div class="center-panel-scroll-verticall">
  <div>
    <ng-container *ngTemplateOutlet="grid"></ng-container>
  </div>
</div>

<ng-template #topButtons>
  <dx-button
    class="btn-dx-top-menu"
    icon="ryczalt-icon ri-plus"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive"
    (onClick)="addNewRecord()"
    text="{{ 'buttons.add' | translate }}"
    [id]="'btn-add'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="ryczalt-icon ri-edit"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive || !focusedElement()"
    (onClick)="onEdit()"
    text="{{ 'buttons.edit' | translate }}"
    [id]="'btn-edit'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="ryczalt-icon ri-show"
    stylingMode="text"
    type="default"
    [disabled]="!focusedElement()"
    (onClick)="onShow()"
    text="{{ 'buttons.preview' | translate }}"
    [id]="'btn-eyeopen'"
  >
  </dx-button>

  <dx-button
    class="btn-dx-top-menu"
    icon="ryczalt-icon ri-trash"
    stylingMode="text"
    type="default"
    [disabled]="!event.sessionData.isActive || !focusedElement()"
    (onClick)="onDeleteConfirm()"
    text="{{ 'buttons.delete' | translate }}"
    [id]="'btn-delete'"
  >
  </dx-button>

  <app-date-range
    (dateRangeChange)="onDateRangeChange($event)"
    [hideMonth]="true"
  ></app-date-range>
</ng-template>

<ng-template #grid>
  <dx-scroll-view width="100%" height="calc(100% - 60px)">
    <app-generic-data-grid
      [dataSource]="dataSource"
      [columns]="columns()"
      [options]="options()"
      [(focusedRowIndex)]="focusedRowIndex"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onRowDblClick)="onEdit()"
      storageKey="flatRateTaxGrid"
      #genericDataGrid
    ></app-generic-data-grid>  
  </dx-scroll-view>
</ng-template>

<qumi-keyboard-shortcuts
  [shortcuts]="shortcuts"
  [disabled]="isAdd()"
></qumi-keyboard-shortcuts>

@if(isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="isDelete.set(false)"
></app-confirm-dialog>
} @if(isAdd()) {
<app-new-flat-rate-tax
  [isVisible]="isAdd()"
  [mode]="mode"
  (onClosing)="isAdd.set(false)"
  (onSaving)="onSaving($event)"
  [flatRateTax]="focusedElement()"
></app-new-flat-rate-tax>
}
