<div class="top-menu-panel">
  <dx-scroll-view width="100%" height="60px">
    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-plus"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive"
      (onClick)="addNewRecord()"
      text="{{ 'buttons.add' | translate }}"
      [id]="'btn-add'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-edit"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive || !focusedElement()"
      (onClick)="onEdit()"
      text="{{ 'buttons.edit' | translate }}"
      [id]="'btn-edit'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-show"
      stylingMode="text"
      type="default"
      [disabled]="!focusedElement()"
      (onClick)="onShow()"
      text="{{ 'buttons.preview' | translate }}"
      [id]="'btn-eyeopen'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-trash"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive || !focusedElement()"
      (onClick)="onDeleteConfirm()"
      text="{{ 'buttons.delete' | translate }}"
      [id]="'btn-delete'"
    >
    </dx-button>

    <app-date-range
      (dateRangeChange)="onDateRangeChange($event)"
      [hideMonth]="true"
    ></app-date-range>
  </dx-scroll-view>
</div>

<div class="center-panel-scroll-verticall">
  <dx-scroll-view width="100%" height="calc(100% - 60px)">
    <app-generic-data-grid
      [dataSource]="dataSource"
      [columns]="columns()"
      [options]="options()"
      [(focusedRowIndex)]="focusedRowIndex"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onRowDblClick)="onRowDblClick($event)"
      storageKey="taxVatGrid"
      #genericDataGrid
    ></app-generic-data-grid>
  </dx-scroll-view>
</div>

<qumi-keyboard-shortcuts
  [shortcuts]="shortcuts"
  [disabled]="isAdd()"
></qumi-keyboard-shortcuts>

@if(isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="isDelete.set(false)"
></app-confirm-dialog>
} @if(isAdd()) {
<app-add-tax-vat
  [mode]="mode"
  [isVisible]="isAdd()"
  (onClosing)="onClosing()"
  (onSaving)="onSaving($event)"
  [taxVat]="focusedElement()"
></app-add-tax-vat>
}
