<div class="top-menu-panel">
  <ng-container *ngTemplateOutlet="topButtons"></ng-container>
</div>
<div class="center-panel-scroll-verticall">
  <div>
    <ng-container *ngTemplateOutlet="grid"></ng-container>
  </div>
</div>

<ng-template #topButtons>
  <dx-scroll-view width="95%" height="100%" direction="horizontal">
    <dx-button
      class="btn-dx-top-menu"
      icon="dx-icon dx-icon-add"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive || isClosed()"
      (onClick)="addNewRecord()"
      name="btn-add-customer"
      text="{{ 'buttons.add' | translate }}"
      [id]="'btn-add'"
    ></dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="dx-icon dx-icon-edit"
      stylingMode="text"
      type="default"
      [disabled]="
        !event.sessionData.isActive || !focusedElement() || isClosed()
      "
      (onClick)="onEdit()"
      text="{{ 'buttons.edit' | translate }}"
      [id]="'btn-edit'"
    ></dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="dx-icon dx-icon-eyeopen"
      stylingMode="text"
      type="default"
      [disabled]="!focusedElement()"
      (onClick)="onShow()"
      text="{{ 'buttons.preview' | translate }}"
      [id]="'btn-eyeopen'"
    ></dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="dx-icon dx-icon-trash"
      stylingMode="text"
      type="default"
      [disabled]="
        !event.sessionData.isActive || !focusedElement() || isClosed()
      "
      (onClick)="onDeleteConfirm()"
      name="btn-add-customer"
      text="{{ 'buttons.delete' | translate }}"
      [id]="'btn-delete'"
    ></dx-button>

    <dx-button
      class="btn-dx-top-menu"
      [icon]="
        isClosed() ? 'dx-icon dx-icon-imgarlock' : 'dx-icon dx-icon-imgarunlock'
      "
      stylingMode="text"
      type="default"
      [text]="
        isClosed()
          ? ('flateRate.opneMonth' | translate)
          : ('flateRate.closeMonth' | translate)
      "
      (onClick)="onOpenClose()"
    ></dx-button>

    <div class="select-data">
      <div class="add-select-data" (click)="minusMonth()">
        <p>
          <i class="dx-icon dx-icon-minus"></i>
        </p>
      </div>
      <strong>{{ "flateRate.month" | translate }}:</strong>
      {{ month() }}
      <div class="add-select-data" style="left: 10px" (click)="plusMonth()">
        <p>
          <i class="dx-icon dx-icon-add"></i>
        </p>
      </div>
    </div>

    <div class="select-data">
      <div class="add-select-data" (click)="minusYear()">
        <p>
          <i class="dx-icon dx-icon-minus"></i>
        </p>
      </div>
      <strong>{{ "flateRate.year" | translate }}:</strong>
      {{ year() }}
      <div class="add-select-data" style="left: 10px" (click)="plusYear()">
        <p>
          <i class="dx-icon dx-icon-add"></i>
        </p>
      </div>
    </div>

    <dx-tooltip
      [target]="'#btn-edit'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.edit" | translate }} (F2)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-eyeopen'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.preview" | translate }} (Shift + F2)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-delete'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.delete" | translate }} (Del)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-add'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.add" | translate }} (alt + n)
      </div>
    </dx-tooltip>
  </dx-scroll-view>
</ng-template>

<ng-template #grid>
  <dx-scroll-view width="100%" height="100%" direction="vertical">
    <dx-data-grid
      [dataSource]="dataSource"
      [wordWrapEnabled]="false"
      [showBorders]="true"
      [height]="heightGrid"
      [(selectedRowKeys)]="selectedRows"
      class=""
      [columnResizingMode]="'widget'"
      [remoteOperations]="true"
      [columnAutoWidth]="false"
      [allowColumnResizing]="true"
      [autoNavigateToFocusedRow]="true"
      [(focusedRowIndex)]="focusedRowIndex"
      [allowColumnReordering]="true"
      [focusedRowEnabled]="true"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onKeyDown)="onKeyDown($event)"
      [allowColumnResizing]="event.deviceType !== 'mobile'"
      (onRowDblClick)="onRowDblClick($event)"
      #dxGrid
    >
      <dxo-load-panel [enabled]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [pageSize]="pageSize" [enabled]="true"></dxo-paging>
      <dxo-selection
        [mode]="'single'"
        showCheckBoxesMode="always"
        selectAllMode="page"
      ></dxo-selection>
      <dxo-editing mode="row" [confirmDelete]="false"></dxo-editing>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

      <dxi-column
        caption="{{ 'flateRate.documentNumber' | translate }}"
        dataField="documentNumber"
        [allowSorting]="false"
        hidingPriority="6"
      ></dxi-column>

      <dxi-column
        caption="{{ 'vatRegister.documentDate' | translate }}"
        dataField="documentDate"
        [width]="110"
        [allowSorting]="false"
        hidingPriority="7"
        dataType="date"
        [format]="{ type: event.dateFormat }"
        width="110"
        alignment="left"
      ></dxi-column>

      <dxi-column
        caption="{{ 'vatRegister.datOFSell' | translate }}"
        dataField="dateOfSell"
        [width]="110"
        [allowSorting]="false"
        hidingPriority="7"
        dataType="date"
        [format]="{ type: event.dateFormat }"
        width="110"
        alignment="left"
      ></dxi-column>

      <dxi-column
        caption="{{ 'vatRegister.customerName' | translate }}"
        dataField="customerName"
        [allowSorting]="false"
        hidingPriority="6"
      ></dxi-column>

      <dxi-column
        caption="{{ 'vatRegister.grossSalesValue' | translate }}"
        dataField="grossSum"
        [width]="200"
        [allowSorting]="false"
        hidingPriority="6"
        cellTemplate="TotalNetAmountCurrency"
      ></dxi-column>

      <dxi-column
        caption="{{ 'vatRegister.taxDue' | translate }}"
        dataField="vatSum"
        [width]="200"
        [allowSorting]="false"
        hidingPriority="6"
        cellTemplate="TotalNetAmountCurrency"
      ></dxi-column>

      <div *dxTemplate="let cell of 'TotalNetAmountCurrency'">
        {{ cell.value | priceFormat }}
      </div>
    </dx-data-grid>

    <div class="summary">
      <div class="row">
        <div class="col-md-6" style="text-align: start">
          <label>{{ "vatRegister.grossSalesValue" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.TotalGrossSales | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.nettValue" | translate }} 23%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Net23 | priceFormat }}
          </p>
          <br />

          <label>VAT 23%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Vat23 | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.nettValue" | translate }} 8%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Net8 | priceFormat }}
          </p>
          <br />

          <label>VAT 8%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Vat8 | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.nettValue" | translate }} 5%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Net5 | priceFormat }}
          </p>
          <br />

          <label>VAT 5%</label>
          <p style="text-align: end">
            {{ summaryMonthData.Vat5 | priceFormat }}
          </p>
        </div>

        <div class="col-md-6">
          <label>{{ "vatRegister.domesticSales" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.Net0 | priceFormat }}
          </p>
          <br />

          <label
            >{{
              "vatRegister.intraCommunitySupplyOfGoods" | translate
            }}
            0%</label
          >
          <p style="text-align: end">
            {{ summaryMonthData.WDT0 | priceFormat }}
          </p>
          <br />

          <label
            >{{ "vatRegister.intraCommunitySupplyOfServices" | translate }}
          </label>
          <p style="text-align: end">
            {{ summaryMonthData.WSU | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.export" | translate }} 0% </label>
          <p style="text-align: end">
            {{ summaryMonthData.Export0 | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.exemptSales" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.ExemptSales | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.reverseCharge" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.ReverseCharge | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.nettSalesValue" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.TotalNetSales | priceFormat }}
          </p>
          <br />

          <label>{{ "vatRegister.salesTaxPayable" | translate }}</label>
          <p style="text-align: end">
            {{ summaryMonthData.TotalVat | priceFormat }}
          </p>
        </div>
      </div>
    </div>
  </dx-scroll-view>
</ng-template>

@if(isAdd()){
<app-new-vat-register
  [isVisible]="true"
  (onClosing)="isAdd.set(false); event.setFocus(this.dxGrid)"
  [mode]="mode"
  (onSaving)="onSaving($event)"
  [vatRegister]="focusedElement()"
></app-new-vat-register>
} @if (isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="closeConfirm()"
></app-confirm-dialog>
} @if(isConfirmDeleteFlateRate()){
<app-confirm-dialog
  [isVisible]="true"
  (onRemoving)="yesDeleteFlateRate()"
  (onClosing)="isConfirmDeleteFlateRate.set(false)"
  confirmText="vatRegister.doYouWantToRemoveTheRelatedEntryFromTheRevenueRecords"
></app-confirm-dialog>
} @if(isAddFlateRegister()){
<app-confirm-dialog
  [isVisible]="true"
  (onRemoving)="yesAddFlateRegister()"
  (onClosing)="isAddFlateRegister.set(false)"
  confirmText="vatRegister.doYouWantToAddTheDocument"
  [paramsMsg]="paramsNumber"
></app-confirm-dialog>
} @if(isNewFlateRegister()){
<app-new-flate-rate
  [isVisible]="true"
  (onClosing)="isNewFlateRegister.set(false)"
  [mode]="'add'"
  (onSaving)="onSavingFlate()"
  [vatRegisterData]="flatRegister"
></app-new-flate-rate>
}

<qumi-keyboard-shortcuts
  [shortcuts]="shortcuts"
  [disabled]="isAdd()"
></qumi-keyboard-shortcuts>
