<ng-container>
  <div *ngIf="!dropDownBoxMode(); else dropDownMode">
    <div class="top-menu-panel">
      <ng-container *ngTemplateOutlet="topButtons"></ng-container>
    </div>

    <div class="center-panel-scroll-verticall">
      <div>
        <ng-container *ngTemplateOutlet="grid"></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #topButtons>
  <dx-scroll-view width="95%" height="100%" direction="horizontal">
    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-plus"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive"
      (onClick)="addNewRecord()"
      name="btn-add-customer"
      text="{{ 'buttons.add' | translate }}"
      [id]="'btn-add'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-edit"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive || !focusedElement()"
      (onClick)="onEdit()"
      name="btn-add-customer"
      text="{{ 'buttons.edit' | translate }}"
      [id]="'btn-edit'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-show"
      stylingMode="text"
      type="default"
      [disabled]="!focusedElement()"
      (onClick)="onShow()"
      text="{{ 'buttons.preview' | translate }}"
      [id]="'btn-eyeopen'"
    >
    </dx-button>

    <dx-button
      class="btn-dx-top-menu"
      icon="ryczalt-icon ri-trash"
      stylingMode="text"
      type="default"
      [disabled]="!event.sessionData.isActive || !focusedElement()"
      (onClick)="onDeleteConfirm()"
      name="btn-add-customer"
      text="{{ 'buttons.delete' | translate }}"
      [id]="'btn-delete'"
    >
    </dx-button>

    <dx-tooltip
      [target]="'#btn-edit'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.edit" | translate }} (F2)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-delete'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.delete" | translate }} (Del)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-eyeopen'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.preview" | translate }} (Shift + F2)
      </div>
    </dx-tooltip>

    <dx-tooltip
      [target]="'#btn-add'"
      hideEvent="dxhoverend"
      [hideOnOutsideClick]="false"
      [showEvent]="event.tooltipShowEvent"
    >
      <div *dxTemplate="let data of 'content'">
        {{ "buttons.add" | translate }} (alt + n)
      </div>
    </dx-tooltip>
  </dx-scroll-view>
</ng-template>
<ng-template #grid>
  <div class="d-flex flex-column">
    <div>
      <app-custom-dropdown-box
        [items]="filterCriteria"
        [filterValue]="filterValue"
        (onValueChanged)="onFilterDataChanged($event)"
        style="margin-right: 10px"
        [width]="320"
        [selectedItem]="orderBy()"
      >
      </app-custom-dropdown-box>

      <app-custom-chips-button
        [deleteFilter]="deleteFilter()"
        name="{{ 'customers.type' | translate }}"
        [list]="filterOptions"
        (onValueChanged)="onValueChangedFilterType($event)"
      >
      </app-custom-chips-button>
    </div>

    <div>
      <app-generic-data-grid
        [dataSource]="dataSource"
        [columns]="columns()"
        [options]="options()"
        [(focusedRowIndex)]="focusedRowIndex"
        (onFocusedRowChanged)="onFocusedRowChanged($event)"
        (onRowDblClick)="onEdit()"
        [(selectedRowKeys)]="selectedRows"
        storageKey="customersGrid"
        (onColumnHeaderClick)="onColumnHeaderClick($event)"
        (onOrderClick)="onOrderClick($event)"
        [orderBy]="orderBy()"
        [order]="order()"
        #genericDataGrid
      ></app-generic-data-grid>
    </div>
  </div>
</ng-template>

<ng-template #dropDownMode>
  <dx-drop-down-box
    [value]="chossingRecord"
    valueExpr="customerId"
    [deferRendering]="false"
    displayExpr="customerName"
    [(opened)]="isGridBoxOpened"
    [dataSource]="dataSourceDropDown"
    [showClearButton]="false"
    style="width: 276px; display: inline-block"
    (onValueChanged)="onValueChanged($event)"
    class="contractors-form-step-2"
    (openedChange)="onOpenedChanged($event)"
    (keydown.space)="isGridBoxOpened = true"
    [ngClass]="{ 'input-required': className() === true }"
    [readOnly]="!event.sessionData.isActive || readOnly"
    [acceptCustomValue]="true"
    (onInput)="grid_onInput()"
    [openOnFieldClick]="false"
    #contractorsBox
  >
    <div *dxTemplate="let data of 'content'" style="height: 280px">
      <div class="row">
        <div class="col-md-12" class="no-padding" *ngIf="isGridBoxOpened">
          <dx-data-grid
            [dataSource]="dataSource"
            [wordWrapEnabled]="false"
            [showBorders]="true"
            [height]="260"
            [(selectedRowKeys)]="selectedRows"
            class=""
            [columnResizingMode]="'widget'"
            [remoteOperations]="true"
            [columnAutoWidth]="false"
            [allowColumnResizing]="true"
            [autoNavigateToFocusedRow]="true"
            [(focusedRowIndex)]="focusedRowIndex"
            [allowColumnReordering]="true"
            [focusedRowEnabled]="true"
            (onFocusedRowChanged)="onFocusedRowChanged($event)"
            (onKeyDown)="onKeyDown($event)"
            [allowColumnResizing]="event.deviceType !== 'mobile'"
            (onRowClick)="onRowDblClick($event)"
            style="width: calc(100% + 10px)"
            #dxGrid
          >
            <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <dxo-scrolling
              mode="virtual"
              columnRenderingMode="virtual"
              [preloadEnabled]="true"
            >
            </dxo-scrolling>
            <dxo-paging [pageSize]="pageSize" [enabled]="true"></dxo-paging>
            <dxo-selection
              [mode]="'single'"
              showCheckBoxesMode="always"
              selectAllMode="page"
            >
            </dxo-selection>
            <dxo-editing mode="row" [confirmDelete]="false"></dxo-editing>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

            <dxi-column
              [width]="event.deviceType != 'mobile' ? 45 : 10"
              cellTemplate="editTemplate"
              [allowSorting]="false"
              alignment="center"
            >
            </dxi-column>
            <div *dxTemplate="let data of 'editTemplate'" tabindex="-1">
              <dx-button
                class="btn-dx-top-menu-folder-grid"
                icon="ryczalt-icon ri-edit"
                (onClick)="onEdit()"
                [disabled]="!event.sessionData.isActive"
              >
              </dx-button>
            </div>

            <dxi-column
              caption="{{ 'customers.customerName' | translate }}"
              dataField="customerName"
              [allowSorting]="false"
            ></dxi-column>

            <dxi-column
              caption="NIP"
              dataField="customerVat"
              [width]="150"
              [allowSorting]="false"
            ></dxi-column>
          </dx-data-grid>
        </div>
      </div>
      <div
        class="align-items-center bottom-drop-box d-flex pb-0"
        style="height: auto"
      >
        <dx-button
          class="btn-dx-top-menu-folder"
          icon="ryczalt-icon ri-plus"
          type="normal"
          stylingMode="text"
          id="btn-add-contractors"
          [id]="'btn-drop-add'"
          (onClick)="addNewRecord()"
          [disabled]="!event.sessionData.isActive"
        >
        </dx-button>
      </div>
    </div>
  </dx-drop-down-box>
</ng-template>

@if(isAdd()){
<app-new-customer
  [isVisible]="true"
  (onClosing)="isAdd.set(false); genericDataGrid.focus()"
  [mode]="mode"
  (onSaving)="onSaving($event)"
  [customer]="focusedElement()"
></app-new-customer>
}

<qumi-keyboard-shortcuts [shortcuts]="shortcuts" [disabled]="isAdd()">
</qumi-keyboard-shortcuts>

@if (isDelete()) {
<app-confirm-dialog
  [isVisible]="isDelete()"
  (onRemoving)="delete()"
  (onClosing)="closeConfirm()"
>
</app-confirm-dialog>
}
